body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
}

.header-part {
    background-image: url(images/donation.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    color: #fcfffd;
    position: absolute;
    left: 15%;
    top: 20%;
}

.header-text p {
    text-align: center;
    font-size: 20px;
}

.header-text a {
    text-align: center;
    font-size: 30px;
    top: 112%;
    left: 41%;
    position: absolute;
}

.donate-amount-section {
    text-align: center;
}

.all-amount-box {
    padding-left: 488px;
    text-align: center;
}

.amount-box-single {
    background-color: rgb(200, 199, 202);
    text-align: center;
    padding: 20px;
    margin: 20px;
    width: 100px;
    float: left;
    height: 100px;
    font-size: 20px;
}

.amount-box-single:nth-of-type(3) {
    background-color: rgb(241, 186, 186);
    border: 3px solid green;
    color: rgb(21, 121, 128);
}

.amount-box-single h4 {
    margin-top: 38px;
}

.amount-input {
    clear: both;
}

input {
    font-size: 20px;
    border: none;
}

.input-field-devider {
    width: 50%;
}

.button-design {
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-size: 30px;
    padding: 18px 40px;
    margin-top: 35px;
    display: inline-block;
    border-radius: 5px;
}

.plan-box {
    width: 20%;
    background-color: rgb(155, 138, 138);
    padding: 15px;
    margin: 20px;
    float: left;
    border-radius: 5px;
}

.plan-box:nth-of-type(1) {
    background-color: rgb(191, 190, 190);
}

.plan-box:nth-of-type(2) {
    background-color: red;
}

.plan-box:nth-of-type(3) {
    background-color: rgb(37, 128, 111);
}

.all-plan-box {
    display: flex;
}


/* .plan-box-one {
    margin: 20px;
} */

.plan-box img {
    width: 80px;
    margin-top: 40px;
}

.plan-box h2 {
    margin-top: 30px;
}

.plan-box p {
    margin-top: 30px;
}

.main-plan-box {
    /* padding: 20px; */
    padding-left: 400px;
}

.helping-people {
    clear: both;
    text-align: center;
}

.helping-people img {
    width: 100px;
    padding: 10px;
    margin-top: 30px;
    border: 14px solid #8d8d8d;
}

.subscribe-section {
    padding-bottom: 100px;
}

.subscribe-text {
    text-align: center;
}

.subscribe-div {
    margin: 0 auto;
    background: rgb(218, 214, 12);
    width: 35%;
    padding: 80px 120px;
    font-size: 20px;
}

.input-feild::placeholder {
    color: rgb(34, 32, 32);
    padding-left: 10px;
}

.input-feild {
    height: 44px;
    background: #bfbfbf;
    padding: 3px;
    width: 350px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.subscribe-text-paragraph {
    padding-bottom: 50px;
    line-height: 30px;
}

.paragraph-text {
    line-height: 30px;
}

.subscribe-button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-size: 20px;
    padding: 13px 40px;
    margin-left: -5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

footer {
    background-color: rgb(2, 2, 2);
    text-align: center;
    color: wheat;
    padding: 30px 0;
}

footer h2 {
    color: tomato;
    font-size: 40px;
}

.donate-plan-text {
    text-align: center;
}